{% load staticfiles %}
{% load chart_tags %}

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/dashboard.css' %}?column_width=0&column_amount=3&gutter_width=0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table.css' %}"/>
    {% include 'dashboard/nvd3_header.html' %}
</head>


<body>

    <div class="container container_3">

      {% for uri, name, cports, nports in cards %}
        <h1 class="grid_3">{{ uri }} - {{ name }}</h1>
        <div class='clear'>&nbsp;</div>
        <div class='grid_1'><p>
            {{ cports }}
        </p></div>
        <div class='grid_1'><p>
            (Config Data)
        </p></div>
        <div class='grid_1'><p>
            {{ nports }}
        </p></div>
      {% endfor %}


    </div>

</body>

