{% load staticfiles %}
{% load chart_tags %}

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/simple-grid.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table.css' %}"/>
    {% include 'dashboard/nvd3_header.html' %}
</head>


<body>

    <div class="container">

      {% for uri, name, cports, nports in cards %}
      <div class="row">
        <div class="col-12">
          <h2>{{ uri }} - {{ name }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <h3>OPR</h3>
          <img src="{% static 'dashboard/gauge.png' %}"/>
        </div>
        <div class="col-6">
          <h3>(Config Data)</h3>
        </div>
        <div class="col-3">
          <h3>OPT</h3>
          <img src="{% static 'dashboard/gauge.png' %}"/>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <h3>OPT</h3>
          <img src="{% static 'dashboard/gauge.png' %}"/>
        </div>
        <div class="col-6">
          <h3>(Config Data)</h3>
        </div>
        <div class="col-3">
          <h3>OPR</h3>
          <img src="{% static 'dashboard/gauge.png' %}"/>
        </div>
      </div>
      {% endfor %}

    </div>

</body>

